body {
    background-color: #dedede;
  }
  
  body:focus {
    outline: none;
  }
ol {
    padding: 20px;
  }
  ol li {
    padding: 5px;
    margin-left: 35px;    
  }
.scriptik {
    background-color: #424242;
    border: none;
    color: white;
    font-family: consolas;
    font-size: 10pt;
    width: 200px;
}