body {
    background-color: #dedede;
  }

.scriptik {
    background-color: #424242;
    border: none;
    color: white;
    font-family: consolas;
    font-size: 10pt;
	margin-left: 50px;
	width: 250px;
}